/*********** MAIN STYLES **********/

html {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fff;
}

body {
    line-height: 1.4rem;
}

.container {
    max-width: 960px;
    margin: auto;
}

.flex-container {
    display: flex;
}


/********** HEADER **********/

header {
    background-image: url('../images/glasses-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}

/* * * * NAVBAR * * * */

nav {
    display: flex;
    background-color: cadetblue;
    padding: 1rem 0;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav img {
    height: 1.5rem;
    margin: 0 1rem 0 2rem;
}

nav span {
    font-size: 1rem;
}

nav .menu {
    display: flex;
    align-items: center;
}

.menu .mobile-view {
    display: none;
}

ul {
    margin-right: 1rem;
}

ul li {
    display: inline;
    padding: 0 1rem;
}

/* * * * BANNER * * * */

header .flex-container {
    justify-content: flex-end;
}

.banner {
    background-color: #fff;
    padding: 1.5rem 5rem;
    line-height: 2.4rem;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
}

.banner h1 {
    font-weight: bold;
    font-size: 2rem;
}